1.0 Business understanding 
    1.1 Analysis of the India Start_up ecosystem based on funding from 2018-2021

    1.1.2 Project Description 
    This project focuses on the funding received by start_ups in India from 2018-2021. Our objective is to analyse the data and help management make informed decision in terms of where to situate in India and possible funding we can attract

2.0 Data Preparation

In [39]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
                                              0.0/293.3 kB ? eta -:--:--
                                              0.0/293.3 kB ? eta -:--:--
                                              0.0/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ----                                     30.7/293.3 kB ? eta -:--:--
     ---------                             71.7/293.3 kB 245.8 kB/s eta 0:00:01
     ---------                             71.7/293.3 kB 245.8 kB/s eta 0:00:01
     ---------                             71.7/293.3 kB 245.8 kB/s eta 0:00:01
     -------------                        112.6/293.3 kB 252.2 kB/s eta 0:00:01
     -------------                        112.6/293.3 kB 252.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     -----------------                    143.4/293.3 kB 266.2 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     ---------------------                174.1/293.3 kB 205.8 kB/s eta 0:00:01
     -----------------------              194.6/293.3 kB 173.6 kB/s eta 0:00:01
     -----------------------              194.6/293.3 kB 173.6 kB/s eta 0:00:01
     -----------------------              194.6/293.3 kB 173.6 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     -------------------------            204.8/293.3 kB 163.9 kB/s eta 0:00:01
     ---------------------------          225.3/293.3 kB 146.5 kB/s eta 0:00:01
     ---------------------------          225.3/293.3 kB 146.5 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     ----------------------------         235.5/293.3 kB 141.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     -------------------------------      256.0/293.3 kB 117.4 kB/s eta 0:00:01
     ---------------------------------     266.2/293.3 kB 97.0 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ---------------------------------    276.5/293.3 kB 100.8 kB/s eta 0:00:01
     ------------------------------------- 293.3/293.3 kB 95.8 kB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.25.0)
Requirement already satisfied: pandas>=0.25 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.0.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\benedicta mankata\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

warnings.filterwarnings('ignore')

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [5]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query2020 = "select * from dbo.LP1_startup_funding2020"




df_2020 = pd.read_sql(query2020, connection)

In [6]:
df_2020.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [7]:
query2021 = "select * from dbo.LP1_startup_funding2021"




df_2021 = pd.read_sql(query2021, connection)

In [8]:
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [9]:
df_2018 = pd.read_csv("startup_funding2018.csv")

In [10]:
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [11]:
df_2019 = pd.read_csv("startup_funding2019.csv")

In [12]:
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [13]:
df_2020.shape, df_2021.shape, df_2018.shape, df_2019.shape

((1055, 10), (1209, 9), (526, 6), (89, 9))

In [14]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [15]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [16]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [17]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [18]:
df_2020.to_csv('startup_function2020.csv', index = False)

In [19]:
df_2021.to_csv('startup_function2021.csv', index = False)

2.1  Null hypothesis: The location os a business doesn't affeact the amount of funding received from investors.
Alternate hypothesis: The location of a business significantly affects the amount of funding issued by investors 
    2.1.1 To test this hypothesis we will examine the distribution of start_ups across cities and deduce which cities have the most highly funded start_ups

2.2 The formulated question for our analysis
1. To what extend do cities influence funding?
2. which industries are preferred by investors for funding?
3. What is the typical funding amount the startups receive in India?
4. How does the type of industry affect how the startup is funded?
5. Average number of fund received each year by the companies?

3.0 Data Praparation

In [20]:
#Cleaning 2018_data 
#load the data 
df_2018 = pd.read_csv('startup_funding2018.csv')

In [21]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [123]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [124]:
df_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [125]:
#checking the unique value of Round/series
df_2018['Round/Series'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [126]:
df_2018[df_2018['Round/Series']=='https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']

,Company Name,Industry,Round/Series,Amount,Location,About Company
178,BuyForexOnline,Travel,https://docs.google.com/spreadsheets/d/1x9ziNe...,2000000,"Bangalore, Karnataka, India",BuyForexOnline.com is India's first completely...

In [127]:
#dropping the row 178
df_2018=df_2018.drop(index=178)

In [128]:
#checking the unique value of Location
df_2018['Location'].unique()

array(['Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [23]:
#splitting the industry column using the comma
df_2018['Location'] = df_2018['Location'].str.split(',').str[0]

In [129]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [130]:
#cheacking the unique value of amount
df_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [131]:
# changing the repuss currency into dollors currency using the exchange rates

for row in df_2018.index:

    for column in df_2018.columns:

        if '₹' in str(df_2018.loc[row, column]):

            amount = df_2018.loc[row, column].replace('₹', '').replace(',', '')

            df_2018.loc[row, column] = pd.to_numeric(amount, errors='coerce') * 0.146

        elif '$' in str(df_2018.loc[row, column]):

            df_2018.loc[row, column] = df_2018.loc[row, column].replace('$', '').replace(',', '')

        elif "—" in str(df_2018.loc[row, column]):

            df_2018.loc[row, column] = df_2018.loc[row, column].replace("—", '')

In [132]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,5840000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,9490000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [133]:
df_2018['Amount'].unique()

array(['250000', 5840000.0, 9490000.0, '2000000', '', '1600000',
       2336000.0, 7300000.0, 14600000.0, '150000', '1100000', 73000.0,
       '6000000', '650000', 5110000.0, 9344000.0, 2920000.0, '1000000',
       '5000000', '4000000', 4380000.0, '2800000', '1700000', '1300000',
       730000.0, 1825000.0, 2190000.0, '500000', 15183999.999999998,
       6570000.0, '13400000', 3650000.0, 3854399.9999999995, 1168000.0,
       8760.0, '9000000', '100000', '20000', '120000', 4964000.0,
       49932000.0, '143145', 87600000.0, '742000000', 146000000.0,
       292000000.0, '3980000', '10000', 14599.999999999998, 36500000.0,
       '1000000000', '7000000', '35000000', 80300000.0, '28500000',
       35040000.0, 17520000.0, '2400000', '30000000', 365000000.0,
       '23000000', '11000000', 6424000.0, '3240000', 8760000.0,
       '540000000', 94900000.0, 233600000.0, '900000', '10000000',
       '1500000', 10220000.0, '14000000', 14964999.999999998, '100000000',
       175200.0, 759200000.0, '800000', '1041000', '15000', '1400000',
       '1200000', '2200000', '1800000', '3600000', 1387000.0, '300000',
       '6830000', '200000', 21900000.0, '4300000', '364846', '400000',
       1021999.9999999999, 204400.0, 1460000.0, 3285000.0, '13200000',
       '50000', 20469200.0, '3000000', '1250000', '180000', 2803200.0,
       15037999.999999998, '4200000', '175000', '1450000',
       29199.999999999996, '4500000', '600000', 2423600.0, 1752000.0,
       '15000000', 4818000.0, '125000', '130000', 5095400.0, 10512000.0,
       '17200000', 4672000.0, '3500000', 19710000.0, '12000000',
       '40000000', '50000000', 224840000.0, 20440000.0, '41900000',
       205860000.0, '3530000', '3300000', 84680000.0, 5256000.0,
       49640000.0, '210000000', '37680000', 74460000.0, 321200000.0,
       '22000000', '70000', 2247232000.0, 2920000000.0, 584000000.0,
       '185000000', '65000000', 24090000.0, '700000', 30659999.999999996,
       296321600.0, '75000000', 11680000.0, '1760000', '2700000',
       40880000.0, 116800000.0, '750000', '2500000', '80000000',
       '25000000', 106580000.0, 58400000.0, '3700000', '5600000',
       37960000.0, '99230000', '70000000', '40000', '550000', '365000000',
       1277500.0, 11388000.0, '28000000', 38544000.0, 164980000.0,
       118260000.0, 204400000.0, '14900000', '225000000', '7500'],
      dtype=object)

In [134]:
# replace commas and extract numbers to create a new column
df_2018['Amount($)'] = df_2018['Amount'].str.replace(',', '').str.extract(r'(\d+)').astype(float)

In [135]:
# # fill null values with the mode in the Amount($) column
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)
imputer_18 = imputer.fit(df_2018[['Amount($)']])
df_2018['Amount($)'] = imputer_18.transform(df_2018[['Amount($)']])

In [136]:
# confirm null value have been replaced
df_2018['Amount($)'].isnull().sum()

0

In [137]:
#changing of column name 
df_2018.rename(columns = {'Company Name' :'Company/Brand', 'Industry' :'Sector', 'Round/Series':'Stage','Amount':'Amount($)','About Company':'What it does'}, inplace = True)

In [138]:
# Get the cardinality/number of unique values in each column
df_2018.nunique()

Company/Brand    524
Sector           405
Stage             20
Amount($)        180
Location          50
What it does     523
Amount($)         98
dtype: int64

In [139]:
# splitting the values in Sector columns  using a comma as the delimiter and selected the first value as the primary sector.
#spliting the location column 
df_2018['Sector'] = df_2018['Sector'].str.split(',').str[0]
df_2018.head(5)

,Company/Brand,Sector,Stage,Amount($),Location,What it does,Amount($)
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0
1,Happy Cow Dairy,Agriculture,Seed,5840000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,1000000.0
2,MyLoanCare,Credit,Series A,9490000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,1000000.0
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000.0
4,Eunimart,E-Commerce Platforms,Seed,,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,1000000.0

In [140]:
# Create Year of Funding column
df_2018['Year of Funding'] = '2018'
df_2018.head(5)

,Company/Brand,Sector,Stage,Amount($),Location,What it does,Amount($),Year of Funding
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018
1,Happy Cow Dairy,Agriculture,Seed,5840000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,1000000.0,2018
2,MyLoanCare,Credit,Series A,9490000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,1000000.0,2018
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000.0,2018
4,Eunimart,E-Commerce Platforms,Seed,,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,1000000.0,2018

In [177]:
# checking for duplicates
df_2018.duplicated().sum()

1

In [178]:
# lets have a look at rows with duplicates
df_2018.loc[df_2018.duplicated()]

,Company/Brand,Sector,Stage,Amount($),Location,What it does,Amount($),Year of Funding
348,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018

In [180]:
df_2018=df_2018.drop(index=348)

In [181]:
df_2018.to_csv('data_claning_2018.csv', index = False)

In [22]:
#loading 2021 data
df_2019= pd.read_csv('startup_funding2019.csv')
df_2021.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [24]:
#Preview of dataset summary information using info method.

df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [25]:
#View of number of rows and columns in 2019 dataset
num_f_colmns = df_2019.shape[(1)]
num_f_rows = df_2019.shape[(0)]

print('Number of rows in 2019 dataset:',num_f_rows)
print('Number of columns in 2019 dataset:',num_f_colmns)

Number of rows in 2019 dataset: 89
Number of columns in 2019 dataset: 9

In [26]:
# Preview of description summary of numerical columns using describe method

df_2019.describe()

           Founded
count    60.000000
mean   2014.533333
std       2.937003
min    2004.000000
25%    2013.000000
50%    2015.000000
75%    2016.250000
max    2019.000000

In [27]:
# Preview of description summary of categorical columns using describe method
df_2019.describe(include=object)

,Company/Brand,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
count,89,70,84,89,86,89,89,43
unique,87,17,52,88,85,86,50,15
top,Kratikal,Bangalore,Edtech,Online meat shop,"Vivek Gupta, Abhay Hanjura",Undisclosed,Undisclosed,Series A
freq,2,21,7,2,2,3,12,10

In [28]:
#Let us check for duplicates in our datas
duplicate_vals = df_2019.duplicated().sum()

#The 2019 dataset has no duplicate values

print("Count of duplicate values:",duplicate_vals)

Count of duplicate values: 0

In [29]:
#Check of number of missing values in our dataset.(i.e Total NAN values per column)
missin_vals = df_2019.isnull().sum()

#The 2019 dataset contains missing values

missin_vals

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [30]:
#conversion of missing value as percentage to enable comparison and inference
#we get total percentage of missing data in each column
#gives inference of whether to delete data or not

missing_percent = (df_2019.isnull().sum()/len(df_2019)) * 100

missing_percent

Company/Brand     0.000000
Founded          32.584270
HeadQuarter      21.348315
Sector            5.617978
What it does      0.000000
Founders          3.370787
Investor          0.000000
Amount($)         0.000000
Stage            51.685393
dtype: float64

In [31]:
#Boolean filtering of percentage missing data greater than 0 in columns
#only columns selected have missing percentage > 0

def missing_percent(table):
    missing_percent = (df_2019.isnull().sum()/len(df_2019)) * 100
    missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)
    return missing_percent

In [32]:
# per_nan = percentage nan

per_nan = missing_percent(df_2019)

per_nan

Stage          51.685393
Founded        32.584270
HeadQuarter    21.348315
Sector          5.617978
Founders        3.370787
dtype: float64

In [ ]:
#Let us visualize to infer missing data for comprehensive understanding
#NBper_nan is a series data that is indexed(with only one column)
#NBseaborn and matplotlib are compatible, we'll us matplotlib's 'plt.xticks()' to do x-axis rotation 

plt.figure(figsize=(9, 6))
sns.barplot(x=per_nan.index, y=per_nan)
plt.xticks(rotation = 45)
plt.title("Percentage Missing Values");
#plt.ylim(3, 21)
#to get columns with missing data btwn 3 to 21 percentage, we use function 'plt.ylim()'

In [141]:
#loading 2021 data
df_2021= pd.read_csv('startup_function2021.csv')
df_2021.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [142]:
# # Get the dimensions of the DataFrame
df_2021.shape

(1209, 9)

In [143]:
# # Generate descriptive statistics
df_2021.describe()

           Founded
count  1208.000000
mean   2016.655629
std       4.517364
min    1963.000000
25%    2015.000000
50%    2018.000000
75%    2020.000000
max    2021.000000

In [144]:
# Get the cardinality/number of unique values in each column
df_2021.nunique()

Company_Brand    1033
Founded            30
HeadQuarter        70
Sector            254
What_it_does     1143
Founders         1095
Investor          937
Amount            278
Stage              31
dtype: int64

In [145]:
# Get the data types of each column
df_2021.dtypes

Company_Brand     object
Founded          float64
HeadQuarter       object
Sector            object
What_it_does      object
Founders          object
Investor          object
Amount            object
Stage             object
dtype: object

In [146]:
# Get the missing values of each column
df_2021.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [147]:
# calculate the percentage of missing values in each column and sort them in descending order
df_2021.isna().mean().sort_values(ascending=False)*100

Stage            35.401158
Investor          5.128205
Founders          0.330852
Amount            0.248139
Founded           0.082713
HeadQuarter       0.082713
Company_Brand     0.000000
Sector            0.000000
What_it_does      0.000000
dtype: float64

In [148]:
# rename company/brand and Amount columns
data2021=df_2021.rename(columns={'Company/Brand':'Company_Brand','Amount':'Amount($)'})
data2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [149]:
# count the occurrences of unique values in Company_brand column
data2021['Company_Brand'].value_counts()

Company_Brand
BharatPe            8
BYJU'S              4
CoinSwitch Kuber    3
Delhivery           3
Slice               3
                   ..
MYFITNESS           1
I am Love           1
Gumlet              1
Eloelo              1
WeRize              1
Name: count, Length: 1033, dtype: int64

In [150]:
# count the occurrences of unique values in Founded column
data2021['Founded'].value_counts()

Founded
2020.0    237
2019.0    177
2018.0    143
2015.0    129
2016.0    118
2017.0    112
2021.0     76
2014.0     57
2011.0     34
2012.0     31
2013.0     22
2008.0     15
2010.0     14
2009.0      9
2007.0      6
2000.0      6
2006.0      3
2002.0      2
1994.0      2
1989.0      2
1999.0      2
1998.0      2
2004.0      2
1993.0      1
1978.0      1
2003.0      1
1991.0      1
1984.0      1
2005.0      1
1963.0      1
Name: count, dtype: int64

In [151]:
# remove the floats in founded year
# Replace non-finite values with median
data2021['Founded'] = data2021['Founded'].fillna(data2021['Founded'].median())

# Convert the 'Founded' column to an integer data type
data2021['Founded'] = data2021['Founded'].astype(int)

In [152]:
data2021['Founded'].value_counts()

Founded
2020    237
2019    177
2018    144
2015    129
2016    118
2017    112
2021     76
2014     57
2011     34
2012     31
2013     22
2008     15
2010     14
2009      9
2007      6
2000      6
2006      3
2002      2
1994      2
1989      2
1999      2
1998      2
2004      2
1993      1
1978      1
2003      1
1991      1
1984      1
2005      1
1963      1
Name: count, dtype: int64

In [153]:
# count the occurrences of unique values in Headquarter column
data2021['HeadQuarter'].value_counts()

HeadQuarter
Bangalore      426
Mumbai         203
Gurugram       155
New Delhi      144
Pune            47
              ...
Roorkee          1
Ambernath        1
Panchkula        1
Andheri          1
Gandhinagar      1
Name: count, Length: 70, dtype: int64

In [154]:
# a few entries do not appear to be cities. extract the first part of each value
# in the 'HeadQuarter' column before the comma
# Split values in 'HeadQuarter' column by comma
data2021['HeadQuarter'] = data2021['HeadQuarter'].str.split(',').str[0]

In [155]:
# Replace non headquarter values with NaN in a column
data2021['HeadQuarter'] = data2021['HeadQuarter'].replace(['Pharmaceuticals\t#REF!', 'Food & Beverages', 'Computer Games','Online Media\t#REF!','Information Technology & Services'])

In [156]:
df_2021['HeadQuarter'].value_counts()

HeadQuarter
Bangalore      426
Mumbai         203
Gurugram       155
New Delhi      144
Pune            47
              ...
Roorkee          1
Ambernath        1
Panchkula        1
Andheri          1
Gandhinagar      1
Name: count, Length: 70, dtype: int64

In [157]:
# remove special characters
df_2021['HeadQuarter'] = df_2021['HeadQuarter'].str.replace('[\,#,!,]','')

In [158]:
# count the occurrences of unique values in Sector column
df_2021['Sector'].value_counts().sort_values(ascending=False)

Sector
FinTech                          122
EdTech                           102
Financial Services                61
E-commerce                        37
Food & Beverages                  37
                                ...
Business Supplies & Equipment      1
D2C jewellery                      1
Oil & Energy                       1
EV                                 1
Staffing & Recruiting              1
Name: count, Length: 254, dtype: int64

In [159]:
# there are inconsistencies in the sector column
# create a function to merge values based on name similarity to improve consistency
def merge_values_by_name_similarity(df, column_name, pattern, consistent_name):
    df.loc[df[column_name].str.contains(pattern, case=False), column_name] = consistent_name
    return df

# Define the patterns and consistent names
patterns = ['care', 'Information', 'food']
consistent_names = ['Healthcare', 'Information Technology & Services', 'Food & Beverages']

# Apply the function for each pattern and consistent name
for pattern, consistent_name in zip(patterns, consistent_names):
    data2021 = merge_values_by_name_similarity(data2021, 'Sector', pattern, consistent_name)

# Display the updated column
print(df_2021['Sector'].value_counts())

Sector
FinTech                   122
EdTech                    102
Financial Services         61
E-commerce                 37
Food & Beverages           37
                         ...
Manufacturing startup       1
Cryptocurrency              1
Vehicle repair startup      1
Advisory firm               1
Staffing & Recruiting       1
Name: count, Length: 254, dtype: int64

In [160]:
# there are inconsistencies in the amount column
# remove special characters($ sign)
data2021['Amount($)'] = data2021['Amount($)'].str.replace('[$,,]','', regex=True)
# remove any non-digit characters from the 'Amount($)' column
data2021['Amount($)'] = data2021['Amount($)'].str.replace(r'\D+','', regex=True)
# convert empty space to nan
data2021['Amount($)'] = data2021['Amount($)'].replace('',np.nan)
# convert column to numeric
data2021["Amount($)"] = pd.to_numeric(data2021["Amount($)"], errors='coerce')
data2021['Amount($)'].value_counts()

Amount($)
1000000.0      85
2000000.0      60
3000000.0      48
10000000.0     43
5000000.0      41
               ..
265000.0        1
111000000.0     1
10000.0         1
130000.0        1
55000000.0      1
Name: count, Length: 197, dtype: int64

In [161]:
# count the occurrences of unique values in Stage column
data2021['Stage'].value_counts().sort_values(ascending=False)

Stage
Seed             246
Pre-series A     157
Series A         126
Series B          49
Pre-seed          47
Series C          45
Debt              27
Series D          21
Series E          18
Pre-series B      10
Series F           6
Pre-series A1      4
$1200000           2
Bridge             2
Series G           2
Series H           2
$300000            2
Pre-series         2
Series A+          1
Series F2          1
Series B3          1
PE                 1
Series F1          1
Seed+              1
Early seed         1
Series D1          1
$6000000           1
$1000000           1
Seies A            1
Series A2          1
Series I           1
Name: count, dtype: int64

In [162]:
# the stage has inconsistencies
# remove special characters($ sign)
data2021['Stage'] = data2021['Stage'].str.replace('$','', regex=True)
# remove any digit characters from the 'Stage' column
data2021['Stage'] = data2021['Stage'].str.replace(r'\d+','', regex=True)
# replace empty spaces with np.nan
data2021['Stage'] = data2021['Stage'].replace('', np.nan)
# replace nan with 'unknown'
data2021['Stage'] = data2021['Stage'].replace(np.nan, 'Unknown')

data2021['Stage'].value_counts()

Stage
Unknown         428
Seed            246
Pre-series A    161
Series A        127
Series B         50
Pre-seed         47
Series C         45
Debt             27
Series D         22
Series E         18
Pre-series B     10
Series F          8
$                 6
Bridge            2
Series G          2
Series H          2
Pre-series        2
Seed+             1
Series A+         1
PE                1
Early seed        1
Seies A           1
Series I          1
Name: count, dtype: int64

In [163]:
# count the occurrences of unique values in Founders column
data2021['Founders'].value_counts().sort_values(ascending=False)

Founders
Ashneer Grover, Shashvat Nakrani                        7
Byju Raveendran, Divya Gokulnath                        5
Bhavish Aggarwal                                        4
Ritesh Agarwal                                          4
Ashish Singhal, Govind Soni, Vimal Sagar Tiwari         3
                                                       ..
Adarsh Anand, Amit Tiwari                               1
Madhav Krishna                                          1
Sai Srinivas Kiran GV, Shubh Malhotra                   1
O.P. Godara, Vivek Pathak, Kapil Arya, Sharad Bansal    1
Vishal Chopra, Himanshu Gupta                           1
Name: count, Length: 1095, dtype: int64

In [164]:
missing_rows=data2021[data2021['Founders'].isnull()]
missing_rows

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
274,ByteLearn,2021,Noida,E-learning,AI powered teaching assistant for 100 Mn teach...,NaN,"Aditya Singhal, Nishant Sinha",9500000.0,Seed
558,The Sleep Company,2019,Mumbai,Consumer Goods,Patent Pending sleep technology developed by a...,NaN,Fireside Ventures,1000000.0,Pre-series A
1095,PredictiVu,2020,Gurugram,Management Consulting,PredictiVu's AI-enabled dashboard integrated w...,NaN,Kunal Sarkar,1500000.0,Pre-seed
1187,NeuroPixel.AI,2020,Bangalore,Deeptech,NeuroPixel.AI Labs is a deep tech start-up tha...,NaN,"Arvind Venugopal Nair, Amritendu Mukherjee",800000.0,Seed

In [165]:
# count the occurrences of unique values in Investor column
data2021['Investor'].value_counts().sort_values(ascending=False)

Investor
Inflection Point Ventures                   24
Venture Catalysts                           11
Tiger Global                                11
Elevation Capital                            7
Titan Capital                                6
                                            ..
Omidyar Network India, Chiratae Ventures     1
Elevation Capital, Accel India               1
Legatum Capital                              1
1000000\t#REF!                               1
3one4 Capital, Kalaari Capital               1
Name: count, Length: 937, dtype: int64

In [166]:
# check missing values
data2021.isna().sum()

Company_Brand      0
Founded            0
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount($)        153
Stage              0
dtype: int64

In [167]:
#select object variables
obj=data2021.select_dtypes(include='object')
obj.columns

Index(['Company_Brand', 'HeadQuarter', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Stage'],
      dtype='object')

In [168]:
obj= ['Founders','HeadQuarter','Investor']

In [169]:
# use mode to impute missing value in object columns
data2021[obj]=data2021[obj].fillna(data2021[obj].mode().iloc[0])

In [170]:
# select num columns
num=data2021.select_dtypes(exclude='object')
num.columns

Index(['Founded', 'Amount($)'], dtype='object')

In [171]:
num=['Amount($)']

In [172]:
# use median to impute numerical columns ignoring the Nan values to calculate the median
data2021[num]=data2021[num].fillna(data2021[num].median(skipna=True))

In [173]:
data2021.isnull().sum()

Company_Brand    0
Founded          0
HeadQuarter      0
Sector           0
What_it_does     0
Founders         0
Investor         0
Amount($)        0
Stage            0
dtype: int64

In [175]:
# checking for duplicates
data2021.duplicated().sum()

19

In [176]:
# lets have a look at rows with duplicates
data2021.loc[data2021.duplicated()]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
107,Curefoods,2020,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",13000000.0,Unknown
109,Bewakoof,2012,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,8000000.0,Unknown
111,FanPlay,2020,New Delhi,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",3500000.0,$
117,Advantage Club,2014,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",1700000.0,Unknown
119,Ruptok,2020,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,1000000.0,Unknown
243,Trinkerr,2021,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,6600000.0,Series A
244,Zorro,2021,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",32000000.0,Seed
245,Ultraviolette,2021,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",150000000.0,Series C
246,NephroPlus,2009,Hyderabad,Healthcare,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,24000000.0,Series E
247,Unremot,2020,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,700000.0,Seed
248,FanAnywhere,2021,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",3500000.0,Seed
249,PingoLearn,2021,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",200000.0,Unknown
250,Spry,2021,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",1500000.0,Seed
251,Enmovil,2015,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,1300000.0,Pre-series A
252,ASQI Advisors,2019,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,1000000.0,Pre-series A
253,Insurance Samadhan,2018,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",725000.0,Pre-series A
254,Evenflow Brands,2020,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",Inflection Point Ventures,500000.0,Unknown
255,MasterChow,2020,Mumbai,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,461000.0,Seed
256,Fullife Healthcare,2009,Mumbai,Healthcare,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,3500000.0,Unknown

In [182]:
# checking an example of a duplicate
data2021.query('Company_Brand =="Curefoods"')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
94,Curefoods,2020,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",13000000.0,Unknown
107,Curefoods,2020,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",13000000.0,Unknown

In [183]:

# checking another example of a duplicate
data2021.query('Company_Brand =="Fullife Healthcare"')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
242,Fullife Healthcare,2009,Mumbai,Healthcare,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,3500000.0,Unknown
256,Fullife Healthcare,2009,Mumbai,Healthcare,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,3500000.0,Unknown

In [184]:
# rows without duplicates
# remove duplicate rows based on the specified subset of columns
data2021=data2021.loc[~data2021.duplicated(subset=['Company_Brand','Founded','Founders','Investor','Amount($)'])].reset_index(drop=True).copy()

In [185]:
# unique rows and columns
data2021.shape

(1180, 9)

In [186]:
# Save the data as a CSV file
df_2021.to_csv('data_cleaning_2021.csv', index = False)