1.0 Business understanding 
    1.1 Analysis of the India Start_up ecosystem based on funding from 2018-2021

    1.1.2 Project Description 
    This project focuses on the funding received by start_ups in India from 2018-2021. Our objective is to analyse the data and help management make informed decision in terms of where to situate in India and possible funding we can attract

2.0 Data Preparation

In [1]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (3.7.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (22.0)
Requirement already satisfied: numpy>=1.20 in c:\programdata\anaconda3\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\programdata\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (1.23.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\programdata\anaconda3\lib\site-packages (from seaborn) (3.7.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (22.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
 pip install fuzzywuzzy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fuzzywuzzy in c:\users\benedicta mankata\appdata\roaming\python\python310\site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python-dotenv in c:\users\benedicta mankata\appdata\roaming\python\python310\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns


import datetime as dt
from sklearn.impute import SimpleImputer



import os

warnings.filterwarnings('ignore')

In [6]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [7]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [8]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query2020 = "select * from dbo.LP1_startup_funding2020"




df_2020 = pd.read_sql(query2020, connection)

In [9]:
df_2020.head(10)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None

In [10]:
query2021 = "select * from dbo.LP1_startup_funding2021"




df_2021 = pd.read_sql(query2021, connection)

In [11]:
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [12]:
df_2018 = pd.read_csv("startup_funding2018.csv")

In [13]:
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [14]:
df_2019 = pd.read_csv("startup_funding2019.csv")

In [15]:
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [16]:
df_2020.shape, df_2021.shape, df_2018.shape, df_2019.shape

((1055, 10), (1209, 9), (526, 6), (89, 9))

In [17]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [18]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [19]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [20]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [21]:
df_2020.to_csv('startup_function2020.csv', index = False)

In [22]:
df_2021.to_csv('startup_function2021.csv', index = False)

2.1  Null hypothesis: The location os a business doesn't affeact the amount of funding received from investors.
Alternate hypothesis: The location of a business significantly affects the amount of funding issued by investors 
    2.1.1 To test this hypothesis we will examine the distribution of start_ups across cities and deduce which cities have the most highly funded start_ups

2.2 The formulated question for our analysis
1. To what extend do cities influence funding?
2. which industries are preferred by investors for funding?
3. What is the typical funding amount the startups receive in India?
4. How does the type of industry affect how the startup is funded?
5. Average number of fund received each year by the companies?

3.0 Data Praparation

In [23]:
#Cleaning 2018_data 
#load the data 
df_2018 = pd.read_csv('startup_funding2018.csv')

In [24]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [25]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [26]:
df_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [27]:
#checking the unique value of Round/series
df_2018['Round/Series'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [28]:
df_2018[df_2018['Round/Series']=='https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']

,Company Name,Industry,Round/Series,Amount,Location,About Company
178,BuyForexOnline,Travel,https://docs.google.com/spreadsheets/d/1x9ziNe...,2000000,"Bangalore, Karnataka, India",BuyForexOnline.com is India's first completely...

In [29]:
#dropping the row 164
df_2018=df_2018.drop(index=178)

In [30]:
#checking the unique value of Location
df_2018['Location'].unique()

array(['Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India'], dtype=object)

In [31]:
#splitting the industry column using the comma
df_2018['Location'] = df_2018['Location'].str.split(',').str[0]

In [32]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000",Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000",Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,Hyderabad,Eunimart is a one stop solution for merchants ...

In [33]:
#cheacking the unique value of amount
df_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [34]:
# changing the repuss currency into dollors currency using the exchange rates

for row in df_2018.index:

    for column in df_2018.columns:

        if '₹' in str(df_2018.loc[row, column]):

            amount = df_2018.loc[row, column].replace('₹', '').replace(',', '')

            df_2018.loc[row, column] = pd.to_numeric(amount, errors='coerce') * 0.146

        elif '$' in str(df_2018.loc[row, column]):

            df_2018.loc[row, column] = df_2018.loc[row, column].replace('$', '').replace(',', '')

        elif "—" in str(df_2018.loc[row, column]):

            df_2018.loc[row, column] = df_2018.loc[row, column].replace("—", '')

In [35]:
df_2018.head(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,5840000.0,Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,9490000.0,Gurgaon,Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,,Hyderabad,Eunimart is a one stop solution for merchants ...

In [36]:
df_2018['Amount'].unique()

array(['250000', 5840000.0, 9490000.0, '2000000', '', '1600000',
       2336000.0, 7300000.0, 14600000.0, '150000', '1100000', 73000.0,
       '6000000', '650000', 5110000.0, 9344000.0, 2920000.0, '1000000',
       '5000000', '4000000', 4380000.0, '2800000', '1700000', '1300000',
       730000.0, 1825000.0, 2190000.0, '500000', 15183999.999999998,
       6570000.0, '13400000', 3650000.0, 3854399.9999999995, 1168000.0,
       8760.0, '9000000', '100000', '20000', '120000', 4964000.0,
       49932000.0, '143145', 87600000.0, '742000000', 146000000.0,
       292000000.0, '3980000', '10000', 14599.999999999998, 36500000.0,
       '1000000000', '7000000', '35000000', 80300000.0, '28500000',
       35040000.0, 17520000.0, '2400000', '30000000', 365000000.0,
       '23000000', '11000000', 6424000.0, '3240000', 8760000.0,
       '540000000', 94900000.0, 233600000.0, '900000', '10000000',
       '1500000', 10220000.0, '14000000', 14964999.999999998, '100000000',
       175200.0, 759200000.0, '800000', '1041000', '15000', '1400000',
       '1200000', '2200000', '1800000', '3600000', 1387000.0, '300000',
       '6830000', '200000', 21900000.0, '4300000', '364846', '400000',
       1021999.9999999999, 204400.0, 1460000.0, 3285000.0, '13200000',
       '50000', 20469200.0, '3000000', '1250000', '180000', 2803200.0,
       15037999.999999998, '4200000', '175000', '1450000',
       29199.999999999996, '4500000', '600000', 2423600.0, 1752000.0,
       '15000000', 4818000.0, '125000', '130000', 5095400.0, 10512000.0,
       '17200000', 4672000.0, '3500000', 19710000.0, '12000000',
       '40000000', '50000000', 224840000.0, 20440000.0, '41900000',
       205860000.0, '3530000', '3300000', 84680000.0, 5256000.0,
       49640000.0, '210000000', '37680000', 74460000.0, 321200000.0,
       '22000000', '70000', 2247232000.0, 2920000000.0, 584000000.0,
       '185000000', '65000000', 24090000.0, '700000', 30659999.999999996,
       296321600.0, '75000000', 11680000.0, '1760000', '2700000',
       40880000.0, 116800000.0, '750000', '2500000', '80000000',
       '25000000', 106580000.0, 58400000.0, '3700000', '5600000',
       37960000.0, '99230000', '70000000', '40000', '550000', '365000000',
       1277500.0, 11388000.0, '28000000', 38544000.0, 164980000.0,
       118260000.0, 204400000.0, '14900000', '225000000', '7500'],
      dtype=object)

In [37]:
# replace commas and extract numbers to create a new column
df_2018['Amount($)'] = df_2018['Amount'].str.replace(',', '').str.extract(r'(\d+)').astype(float)

In [38]:
# # fill null values with the mode in the Amount($) column
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent', missing_values=np.nan)
imputer_18 = imputer.fit(df_2018[['Amount($)']])
df_2018['Amount($)'] = imputer_18.transform(df_2018[['Amount($)']])

In [39]:
# confirm null value have been replaced
df_2018['Amount($)'].isnull().sum()

0

In [40]:
# Get the cardinality/number of unique values in each column
df_2018.nunique()

Company Name     524
Industry         405
Round/Series      20
Amount           180
Location          50
About Company    523
Amount($)         98
dtype: int64

In [41]:
df_2018['Industry'].unique()

array(['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes', 'Internet',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Industrial Automation',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Financial Services', 'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications', 'Insurance',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food', 'Education',
       'E-Commerce, Fashion, Jewelry, Retail', 'Renewable Energy',
       'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety', 'Transportation',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Hospitality', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '', 'Sports',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition', 'Fashion',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Software',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Manufacturing',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive',
       'Automotive, Retail', 'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Information Technology',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Rental',
       'Consumer', 'B2B, Farming, Marketplace', 'Wealth Management',
       'Biotechnology', 'Education, Gaming, Training', 'Veterinary',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate', 'Finance',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship', 'Retail',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Human Resources', 'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training', 'Travel',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning', 'Nanotechnology',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources', 'Consumer Electronics',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing', 'Consulting',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Consumer Goods', 'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Farming',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'CleanTech', 'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Banking', 'Food Processing',
       'Apps', 'Marketing',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Agriculture, Mobile',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Financial Services, Professional Services',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Agriculture, Farmers Market, Farming',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Mobile, Software, Travel', 'Cosmetics',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Biotechnology, Health Care, Wellness',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',
       'Financial Services, Venture Capital', 'Accounting, Apps, FinTech',
       'Apps, Mobile, Transportation', 'Reading Apps',
       'Energy, Renewable Energy, Solar',
       'Banking, Financial Services, FinTech', 'Apps, Education, Retail',
       'Electric Vehicle',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, E-Commerce, Marketplace', 'Agriculture',
       'Apps, Information Services, Information Technology',
       'B2B, Marketplace', 'Packaging Services',
       'Computer, Furniture, Software',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Collaboration, Communities, Coworking, Real Estate',
       'Accounting, Banking, Finance',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Automotive, E-Commerce, Information Services',
       'Delivery, Logistics, Transportation',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'E-Commerce, Food and Beverage, Tea',
       'Music, Social Network, Video',
       'Health Care, Pharmaceutical, Wellness',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Hospitality, Information Technology, Travel Accommodations',
       'Biotechnology, Diabetes, Health Care',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Analytics, Apps, Market Research',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'Apps, Mobile, Mobile Apps, Software',
       'News, Publishing, Social Media',
       'Industrial, Industrial Automation',
       'Internet, Mobile Apps, Social Network',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'E-Commerce, Furniture, Interior Design', 'Apps, Events, News',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Logistics, Railroad, Transportation',
       'Dating, Private Social Networking',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Health Care, Health Insurance', 'Energy, Natural Resources',
       'E-Commerce, Education, Health Care',
       'Apps, Health Care, Pharmaceutical',
       'Internet, Knowledge Management',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Banking, Financial Services, Internet',
       'E-Commerce, Health Care, Retail',
       'Child Care, Information Technology',
       'Financial Services, Micro Lending',
       'E-Commerce, Retail, Shopping',
       'Food and Beverage, Snack Food, Tea',
       'Delivery Service, E-Commerce, Logistics',
       'Fashion, Lifestyle, Rental', 'Fantasy Sports, Mobile, Sports',
       'Beauty, Fashion, Wellness', 'Food and Beverage, Restaurants, Tea',
       'Fitness, Sporting Goods, Sports',
       'Food and Beverage, Food Processing, Manufacturing',
       'E-Learning, Internet', 'Eyewear, Internet',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'FinTech, Internet, Payments, Service Industry',
       'B2B, Business Development, Internet, Marketplace',
       'Food and Beverage, Food Delivery, Internet',
       'Biotechnology, Health Care, Pharmaceutical'], dtype=object)

In [42]:

#mapping the industry colunm 
mapping_dict = {
    "Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing":"Media and Marketing",
    "Agriculture, Farming" :"Agriculture",
    "Credit, Financial Services, Lending, Marketplace": "Fintech",
    "Financial Services, FinTech":"FinTech",
    "E-Commerce Platforms, Retail, SaaS":"E-commerce",
    "Cloud Infrastructure, PaaS, SaaS":"SaaS",
    "Internet, Leisure, Marketplace', 'Market Research":"E-commerce",
    "Information Services, Information Technology', 'Mobile Payments" :"IT",
    "B2B, Shoes, Internet":"E-commerce",
    "Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat": "Saas",
    "Food Delivery": "Delivery System", 
    "Industrial Automation":"AI",
    "Automotive, Search Engine, Service Industry" : "Trasport",
    "Finance, Internet, Travel" :"Technology",
    "Accounting, Business Information Systems, Business Travel, Finance, SaaS" : "SaaS",
    "Artificial Intelligence, Product Search, SaaS, Service Industry, Software" : "AI",
    "Internet of Things, Waste Management": "Internet of things",
    "Air Transportation, Freight Service, Logistics, Marine Transportation":"Transport",
    "Financial Services":"Financial service",
    "Food and Beverage": "Food and Beverage",
    "Autonomous Vehicles" : "Transport",
    "Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS": "Healthtech",
    "Agriculture, Analytics, Big Data, Farming":"Agricture",
    "Logistics, Supply Chain Management" :"Logistics",
    "Financial Services, Lending": "Fintech",
    "Automotive, Marketplace, Online Portals":"Automotive",
    "Artificial Intelligence":"AI",
    "Internet of Things, Telecommunications":"Internet of Things",
    "Insurance": "Finance",
    "Information Technology, Logistics, Supply Chain Management":"Logistics",
    "Blockchain, Developer Tools, Enterprise Software":"Blockchain",
    "Industrial Automation, Logistics, Supply Chain Management":"Logistics",
    "Food and Beverage, Food Delivery, Snack Food', 'Education":"Beverages",
    "E-Commerce, Fashion, Jewelry, Retail":"E-commerce",
    "Renewable Energy":"Energy",
    "E-Learning, Education":"Education",
    "Clean Energy, CleanTech, Laundry and Dry-cleaning":"Cleantech",
    "E-Commerce, Fashion, Mobile":"E-commerce",
    "Apps, Messaging, Navigation, Public Safety":"Transport",
    "Transportation":"Transport",
    "Fitness, Health Care, Wellness": "Healthtech",
    "Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant":"AI",
    "Hospitality":"Hospitality",
    "Food and Beverage, Tea":"Beverage",
    "Media and Entertainment, News, Outdoors":"Entertainment",
    "Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming":"Entertainment",
    "B2B, Information Services, Information Technology":"Technology",
    "EdTech, Education, Enterprise Software, Peer to Peer":"Education",
    "Health Care, Medical":"Healthtech",
    "E-Commerce":"E-commerce",
    "Health Care, Hospital, Wellness":"Healthtech",
    "Sports":"Sports",
    "Big Data, Consumer Lending, FinTech":"Fintech",
    "Cloud Computing, Computer, Semiconductor":"IT",
    "Health Care, Medical, Pharmaceutical":"Healthtech",
    "Food Processing, Retail":"Beverage",
    "Trading Platform":"Marketing",
    "Consumer Goods, Lifestyle, Men's":"Lifestyle",
    "Wellness":"Lifestyle",
    "Food and Beverage, Food Processing, Nutrition":"Beverage",
    "Fashion":"Lifestyle",
    "Automotive, Electric Vehicle, Energy Storage":"Automative",
    "Consulting, Retail, Social":"Marketing",
    "Biotechnology, Life Science, Pharmaceutical, Product Research":"Pharmaceutical",
    "Health Care":"Healthtech",
    "Credit, Financial Services, FinTech, Personal Finance":"Fintech",
    "Communities, Coworking, Incubators":"Incubator",
    "Consumer, Financial Services, FinTech":"Fintech",
    "Consumer Applications, Information Services, Location Based Services, Virtual Assistant":"IT",
    "Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps":"Technology",
    "Education, Financial Services, FinTech":"Fintech",
    "Advertising, Consulting, Digital Marketing":"Marketing",
    "Marketplace, Real Estate, Rental Property":"Real Estate",
    "E-Learning, Internet, Video Games":"E-learning",
    "Artificial Intelligence, Cloud Computing, Video":"AI",
    "Health Care, Information Technology":"Healthtech",
    "Aerospace": "AI",
    "E-Commerce, Fashion, Lifestyle":"Lifestyle",
    "Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning":"AI",
    "Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home":"Real Estate",
    "EdTech, Education, Information Services, SaaS":"SaaS",
    "Energy, Solar":"Energy",
    "B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security":"Technology",
    "Artificial Intelligence, Social":"AI",
    "Logistics, Transportation, Travel":"Transport",
    "Digital Marketing, SEM, SEO, Web Development":"Marketing",
    "Health Care, Hospital, Medical":"Healthtech",
    "Finance, Financial Services":"Fintech",
    "Food Delivery, Food Processing, Internet":"Transport",
    "E-Commerce, Food and Beverage, Internet":"Beverage",
    "Fitness, Food and Beverage, Health Care, Nutrition":"Beverage",
    "EdTech, Education, Knowledge Management":"Edtech",
    "Apps, Beauty, Consumer, Retail":"Lifestyle",
    "Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health":"Incubator",
    "Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management":"Fintech",
    "E-Learning, Education, Higher Education":"Etech",
    "Health Diagnostics":"Healthtech",
    "EdTech, Education":"Etech",
    "Financial Services, SaaS, Security":"Saas",
    "Banking, Finance, Financial Services, Non Profit":"Finance",
    "B2B, E-Commerce, Mobile":"Technology",
    "Automotive, Electric Vehicle, Renewable Energy', 'E-Learning":"Automotive",
    "Embedded Systems, Health Care, Medical, Product Research":"Healthtech",
    "Apps, E-Commerce, Internet":"E-commerce",
    "Advertising, Human Resources, Marketing":"Marketing",
    "Beauty, Fitness, Home Services, Internet":"Lifestyle",
    "Health Care, Medical Device, Public Safety":"Healthtech",
    "Food Delivery, Online Portals, Restaurants":"Trasport",
    "AgTech, B2B, Supply Chain Management":"Agritech",
    "Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments":"Fintech",
    "Software":"AI",
    "EdTech, Education, Higher Education, Secondary Education":"Edtech",
    "Manufacturing, Retail":"Manufacturing",
    "Manufacturing":"Manufacturing",
    "Information Services, Information Technology, InsurTech":"Insurtech",
    "Consumer Lending, FinTech":"Fintech",
    "Internet, Social Network, TV":"Socialmedia",
    "Beauty, Health Care', 'Hospital":"lifestyle",
    "Events":"Event",
    "3D Printing, Manufacturing, Product Design":"Design",
    "Automotive":"Automative",
    "Automotive, Retail":"Automative",
    "Apps, Audio":"Socialmedia",
    "Automotive, E-Commerce":"Automative",
    "Digital Entertainment, Fantasy Sports, Sports":"Entertainment",
    "E-Learning, EdTech, Education":"Edtech",
    "Funding Platform, Incubators, Non Profit":"Incubator",
    "Hospitality, Hotel, Leisure, Travel":"Hospitality",
    "Classifieds, Internet, Marketplace, Rental Property":"Real  Estate",
    "Banking, E-Learning, Trading Platform":"Edtech",
    "E-Commerce, Mobile, Retail":"Technology",
    "Artificial Intelligence, Information Technology":"AI",
    "Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate":"Real Estate",
    "Banking, Finance, Financial Services":"Fintech",
    "Audio, Mobile, Tourism, Travel":"Transport",
    "Energy, Energy Storage, Infrastructure":"Energy",
    "Government, Information Technology, Software":"Govtech",
    "Information Technology":"IT",
    "Education, Information Technology, Internet, Mobile, Software":"Technology",
    "Consumer Lending, Financial Services, Lending, Personal Finance":"Finance",
    "Digital Media, Internet, Media and Entertainment, Online Portals, Social Media":"Entertainment",
    "Business Intelligence, Customer Service, Market Research, SaaS":"Customer feedback",
    "Credit, Financial Services, FinTech, Lending":"Fintech",
    "Children, Education, Parenting":"Edtech",
    "Automotive, Battery, Energy, Energy Storage":"Automative",
    "E-Commerce, Mobile, Sharing Economy":"E-commerce",
    "Food Delivery, Organic, Organic Food":"Delivery", 
    "Mobile":"Technology", 
    "Rental":"Real Estate",
    "Consumer":"consumer", 
    "B2B, Farming, Marketplace":"E-commerce", 
    "Wealth Management":"Finance",
    "Biotechnology":"Biotech", 
    "Education, Gaming, Training":"Edtech", 
    "Veterinary":"Pettech",
    "Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless":"Technology",
    "Health Care, Hospital, Supply Chain Management":"Logistics",
    "Tourism, Travel":"Transport", 
    "Hospitality, Real Estate":"Real Estate", 
    "Finance":"Finance",
    "Digital Media, EBooks, Publishing, Reading Apps":"Ebook",
    "Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software":"Technology",
    "Food and Beverage, Food Processing":"Beverage",
    "Internet, Marketplace, Shopping":"E-commerce",
    "Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition":"AI",
    "Facilities Support Services":"Support sytem",
    "Automotive, Electric Vehicle, Energy":"Automative",
    "Health Care, Health Diagnostics, Predictive Analytics":"Healthtech",
    "Cloud Computing, Computer, SaaS, Software":"Technology",
    "Fashion, Lifestyle, Retail":"Lifestyle", 
    "Medical":"Healthtech", 
    "Music Streaming":"Entertainment",
    "Finance, Impact Investing, Internet":"Fintech",
    "Internet, Social Entrepreneurship":"Software",
    "Retail":"Transport",
    "Finance, Impact Investing, Mobile Apps":"Technology",
    "Cloud Computing, Computer, Software":"Internet of things",
    "Business Development, Market Research, Outsourcing":"E-commerce",
    "Health Care, Hospitality":"Healthtech", 
    "Internet, Social News, Sports":"Entertainment",
    "Human Resources":"Admin", 
    "Finance, Financial Services, FinTech":"Fintech",
    "Customer Service, Software, Video, Video Streaming":"Software",
    "E-Commerce, Food Processing":"E-commerce", 
    "Training":"Entertainment", 
    "Travel":"Transport",
    "Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food":"Beverage",
    "Manufacturing, Oil and Gas, Robotics":"AI",
    "Artificial Intelligence, Computer, Machine Learning":"AI",
    "Collaboration, Communities, Coworking, Sharing Economy":"Real Estate",    
    "Finance":"Finance",
    "Big Data, EdTech, Machine Learning":"AI", 
    "Nanotechnology":"Nanotech",
    "Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment":"Entertainment",
    "Financial Services, Lending, Peer to Peer":"Fintech",
    "E-Commerce, Furniture, Home Decor, Interior Design, Internet":"Design",
    "Digital Media":"Entertainment", 
    "File Sharing, Personalization, Social Media":"Social Media",
    "Home Decor, Interior Design":"Design",
    "Health Care, Medical Device, Mobile Apps":"Healthtech",
    "E-Commerce, Facilities Support Services, Procurement, Supply Chain Management":"Ecommerce",
    "Crowdfunding, Finance, Financial Services":"Fintech",
    "Finance, Financial Services, Insurance":"Fintech",
    "Children, Education, Online Portals":"Edtech", 
    "Software, Virtual Reality":"Entertainment",
    "B2B, Food and Beverage, Food Delivery":"Beverage",
    "Catering, Food and Beverage, Food Delivery, Food Processing":"Beverage",
    "Food and Beverage, Snack Food":"Beverage", 
    "Automotive, E-Commerce, Mobile":"Automative",
    "Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development":"Technology",
    "Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development":"Edtech",
    "Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses":"E-commerce",
    "Delivery, Information Technology, Mobile Apps":"Technology",
    "Environmental Consulting, Renewable Energy":"Energy",
    "Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance":"Fintech",
    "Commercial Real Estate, Coworking, Office Administration, Real Estate":"Real Estate",
    "Food and Beverage, Food Processing, Organic Food, Snack Food":"Beverage",
    "Apps, Health Care, Internet, Mobile Apps, Personal Health":"Healthtech",
    "Digital Media, Incubators, Social Entrepreneurship":"Incubator",
    "Finance, Financial Services, Marketing":"fintech",
    "Biotechnology, Health Care, Life Science, Medical Device":"Biotech",
    "Education, Human Resources":"Edutech", 
    "Consumer Electronics":"Technology",
    "Apps, Health Care, Hospital, Mobile Apps":"Healthtech",
    "Delivery Service, Logistics, Service Industry":"Trasport",
    "Big Data, Data Visualization, Logistics, Software":"Logistics",
    "Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball":"Esport",
    "Media and Entertainment, News, Publishing":"Entertainment", 
    "Consulting":"Incubator",
    "Big Data, Financial Services, Machine Learning, Predictive Analytics":"Fintech",
    "Agriculture, AgTech, Manufacturing":"Agricuture",
    "Digital Media, News, Publishing":"Entertainment", 
    "Health Care, Hospital":"Healthtech",
    "B2B, E-Commerce, Enterprise":"E-commerce",
    "Fraud Detection, Information Services, Security":"Software",
    "Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning":"Agriculture",
    "Cryptocurrency, Trading Platform":"Crypo",
    "Finance, FinTech, Mobile Payments":"Fintech", 
    "Wedding":"Software",
    "E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education":"Edtech",
    "Consumer Goods":"E-commerce", 
    "Digital Entertainment":"Entertainment",
    "Crowdsourcing, Financial Services, Funding Platform, Venture Capital":"Fintech",
    "Delivery, Drones, Geospatial, Robotics":"AI",
    "Health Care, Information Technology, Management Information Systems":"Healthtech",
    "Farming":"Agriculture",
    "Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations":"E-commerce",
    "Career Planning, Education, Higher Education, Service Industry":"Edtech",
    "Medical Device":"Healthtech", 
    "Alternative Medicine, Health Care":"Healthtech",
    "Internet, Software":"Software",
    "Dental, Elder Care, Health Care, Home Health Care, Personal Health":"Healthtech",
    "Financial Services, Insurance, Private Social Networking":"Fintech",
    "Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping":"E-commerce",
    "CleanTech":"Cleantech", 
    "Advertising, Internet, Marketing":"Entertainment",
    "Human Resources, Security, Training":"SaaS",
    "Consumer Lending, Finance, FinTech":"Fintech",
    "Marketing, Social Media, Video":"Entertainment", 
    "Banking":"Fintech", 
    "Food Processing":"Agriculture",
    "Apps":"Software", 
    "Marketing":"E-commerce",
    "Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation":"Transportation",
    "Digital Entertainment, Fantasy Sports, Gaming, Sports":"Esports",
    "Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing:":"Automative",
    "Commercial, E-Learning, Education":"Software",
    "Continuing Education, EdTech, Education, Skill Assessment":"Edtech",
    "Smart Cities, Telecommunications', 'Internet of Things, Robotics":"Internet of things",
    "Apps, Home Services, Information Services, Information Technology":"E-commerce",
    "Medical, Tourism":"Transport", 
    "Career Planning, Education, Internet":"Edtech",
    "Fashion, Graphic Design, Wearables":"Design",
    "Communities, Leisure, Mobile Apps, Software":"Lifestyle",
    "Automotive, Rental, Sharing Economy":"Automative",
    "Energy, Environmental Consulting, Renewable Energy, Solar":"Energy",
    "Information Technology, SaaS, Security":"Technology",
    "Crowdfunding, Financial Services, Internet":"Fintech",
    "Customer Service, Information Technology, Internet, Sales Automation":"Software",
    "Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming":"AI",
    "Credit Cards, Payments, Property Insurance, Property Management, Rental Property":"Real Estate",
    "Beauty, Cosmetics, Health Care, Service Industry":"Lifestyle",
    "EdTech, Education, Mobile, Tutoring":"Edtech", 
    "Social Media, Sports":"Sports",
    "Biopharma":"Pharmaceutical", 
    "E-Commerce, E-Commerce Platforms, Retail":"E-commerce",
    "E-Commerce, Fashion, Shopping":"E-commerce",
     "Digital Entertainment, Mobile, PC Games":"Entertainment",
    "Finance, Financial Services, Small and Medium Businesses":"Fintech",
    "Artificial Intelligence, Energy, Oil and Gas":"AI",
    "Computer, FinTech, Risk Management, Software":"AI",
    "Apps, Financial Services, FinTech":"Fintech",
    "Child Care, Health Care, Hospital, Medical, Women's":"Healthtech",
    "Agriculture, Mobile":"Agriculture",
    "Finance, FinTech, Payments, Property Development, Rental":"Real Estate",
    "Information Services, Information Technology, Mobile, Software":"Software",
    "Apps, Fitness, Health Care, mHealth":"Lifestyle",
    "Food and Beverage, Food Delivery":"Beverage", 
    "Apps, Payments, Retail":"E-commerce",
    "Health Insurance, Insurance, Life Insurance":"Insurance",
    "Rental, Taxi Service, Travel":"Trasport",
    "E-Commerce, E-Commerce Platforms, Internet, Retail":"E-commerce",
    "Financial Services, Professional Services":"Fintech",
    "Customer Service, Messaging, Mobile Apps, Personalization":"Transport",
    "Gaming, iOS, Sports":"E-sports",
    "E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media":"E-commerce",
    "Search Engine":"Automative",
    "Battery, Electric Vehicle, Energy, Renewable Energy, Transportation":"Automative",
    "Agriculture, Farmers Market, Farming":"Agriculture",
    "Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics":"AI",
    "Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation":"Lifestyle",
    "Mobile, Software, Travel":"Transport", 
    "Cosmetics":"Lifestyle",
    "Consulting, Cyber Security, Network Security":"Edtech",
    "eSports, Gaming, Video Games":"Esports", 
    "Fashion, Jewelry":"LIfestyle",
    "B2B, Medical Device":"Healthtech", 
    "Consumer Goods, Manufacturing":"Manufacturing",
    "Biotechnology, Health Care, Wellness":"Biotech",
    "Health Care, Hospital, Medical, Robotics":"Healthtech",
    "E-Commerce, Fitness, Health Care":"Healthtech",
    "Financial Services, Venture Capital":"Fintech", 
    "Accounting, Apps, FinTech":"Fintech",
    "Apps, Mobile, Transportation":"Transport",
    "Reading Apps":"Edtech",
    "Energy, Renewable Energy, Solar":"Energy",
    "Banking, Financial Services, FinTech":"Fintech", 
    "Apps, Education, Retail":"Edtech",
    "Electric Vehicle":"Automative",
    "Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design":"Automative",
    "Automotive, E-Commerce, Marketplace":"E-commerce", 
    "Agriculture":"Agrictech",
    "Apps, Information Services, Information Technology":"Information technology",
    "B2B, Marketplace":"B2B", 
    "Packaging Services":"Manufacturing",
    "Computer, Furniture, Software":"E-commerce",
    "Food Delivery, Hospitality, Reservations, Restaurants, Search Engine":"Hospitality",
    "Collaboration, Communities, Coworking, Real Estate":"Real Estate",
    "Accounting, Banking, Finance":"Fintech",
    "Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS":"Technology",
    "Information Services, Internet, Logistics, Supply Chain Management, Transportation":"Logistics",
    "Automotive, E-Commerce, Information Services":"E-commerce",
    "Delivery, Logistics, Transportation":"Transport",
    "Automotive, E-Commerce Platforms, Marketplace":"E-commerce",
    "Last Mile Transportation, Railroad, Transportation, Travel":"Transport",
    "Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals":"Food and beverage",
    "FinTech, Mobile, Mobile Payments, Payments, Retail Technology":"E-commerce",
    "Online Games, Software":"Esport",
    "Online Portals, Property Management, Rental":"Real Estate",
    "E-Commerce, Food and Beverage, Tea":"Food and Beverage",
    "Music, Social Network, Video":"Entertainment",
    "Health Care, Pharmaceutical, Wellness":"Pharmaceutical",
    "Delivery Service, Food and Beverage, Food Delivery":"Food and Beverage",
    "Hospitality, Information Technology, Travel Accommodations":"Accommodation",
    "Biotechnology, Diabetes, Health Care":"Biotech",
    "Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental":"Transport",
    "Finance, Financial Exchanges, Financial Services, Micro Lending":"Fintech",
    "Analytics, Apps, Market Research":"Software",
    "E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet":"E-commerce",
    "Apps, Mobile, Mobile Apps, Software":"Software",
    "News, Publishing, Social Media":"Media",
    "Industrial, Industrial Automation":"Automation",
    "Internet, Mobile Apps, Social Network":"Media",
    "Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device":"Healthtech",
    "E-Commerce, Furniture, Interior Design":"E-commerce", 
    "Apps, Events, News":"Media",
    "Artificial Intelligence, Human Resources, Information Services, Information Technology":"Human Resources",
    "Logistics, Railroad, Transportation":"Logisticstech",
    "Dating, Private Social Networking":"Lifestyle",
    "Artificial Intelligence, Machine Learning, PaaS":"AI",
    "Consumer, Furniture, Home Decor, Home Improvement":"Real Estate",
    "Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation":"Transport",
    "Health Care, Health Insurance":"Healthtech", 
    "Energy, Natural Resources":"Energy",
    "E-Commerce, Education, Health Care":"Edtech",
    "Apps, Health Care, Pharmaceutical":"Healthtech",
    "Internet, Knowledge Management":"Software",
    "Credit, Finance, FinTech, Lending, Sales Automation":"Fintech",
    "Banking, Financial Services, Internet":"Fintech",
    "E-Commerce, Health Care, Retail":"E-commerce",
    "Child Care, Information Technology":"Software",
    "Financial Services, Micro Lending":"Fintech",
    "E-Commerce, Retail, Shopping":"E-commerce",
    "Food and Beverage, Snack Food, Tea":"Food and Beverage",
    "Delivery Service, E-Commerce, Logistics":"Logistics",
    "Fashion, Lifestyle, Rental":"Fashion", 
    "Fantasy Sports, Mobile, Sports":"Esports",
    "Beauty, Fashion, Wellness":"Lifestyle", 
    "Food and Beverage, Restaurants, Tea":"Food and Beverage",
    "Fitness, Sporting Goods, Sports":"Manufacturing",
    "Food and Beverage, Food Processing, Manufacturing":"Food and Beverage",
    "E-Learning, Internet":"E-learning", 
    "Eyewear, Internet":"IT",
    "Information Technology, Mobile, News, Operating Systems, Social Media, Social News":"Ebook",
    "FinTech, Internet, Payments, Service Industry":"Fintech",
    "B2B, Business Development, Internet, Marketplace":"B2B",
    "Food and Beverage, Food Delivery, Internet":"Food and Beverage",
    "Biotechnology, Health Care, Pharmaceutical":"Pharmaceutical",





}

In [43]:
#mapping the dictionary made to create Sectr with regax for the mapping to be done 
df_2018['Sector']= df_2018['Industry'].replace(mapping_dict,regex=False)

In [44]:
#droping the industry column
df_2018= df_2018.drop('Industry', axis=1)

In [45]:
# confirm null value 
df_2018['Sector'].isnull().sum()

0

In [46]:
#count the occurrences of unique values in Sector column
df_2018['Sector'].value_counts().sort_values(ascending=False)

Fintech                   47
Healthtech                41
E-commerce                33
                          30
AI                        27
                          ..
Accommodation              1
Agrictech                  1
Food and beverage          1
Information technology     1
Fashion                    1
Name: Sector, Length: 94, dtype: int64

In [49]:

def merge_values_by_name_similarity(df_2018,column_name,pattern,consistent_name):
    df_2018.loc[df_2018[column_name].str.contains(pattern,case=False),column_name]=consistent_name
    return df_2018
 
patterns =[[
    ['Fintech','Fintech','Financial service','Finance','Insurtech','Insurance'],
      #Finance     
    ['E-commerce','E-commerce','Marketplace','Market Research','B2B','Ecommerce','B2B'],
    #E-commerce 
    
    ['Education','E-learning','Edtech','Etech','E-Learning','Ebook','Edutech'],
        #Education
    
    ['Agriculture','Agricture','Agritech','Agricuture','Agrictech'],
     #Agriculture

    ['SaaS','IT','Information Services','Information Technology','Mobile Payments','Internet','Saas','AI','Technology','Internet of things','Internet of Things','Blockchain','Cleantech','IT','Govtech','Software','Nanotech','Crypo','Internet of Things','Robotics','Information technology'],
         #Technology
    
    ['Leisure','Lifestyle','Beauty','Event','Design','Peer to Peer','LIfestyle','Fashion'],
       # Lifestyle
    
    ['Incubator','Support sytem','Admin','Human Resources'],
        #Human Resources
    
   ['Food and Beverage','Food and Beverage','Snack Food','Beverage','Food and beverage'],
       # Food & Beverage
    
   ['Healthtech','Pharmaceutical','Health Care','Hospital','Biotech','Pettech'],
       # Health
    
   ['Media and Marketing','Marketing','Customer feedback','consumer'],
      # Marketing and Advertising
    ['Shoes','Automotive','Automative','Automotive','Electric Vehicle','Manufacturing','Automotive','Automation'],
        #Manufacturing
    
   ['Delivery System','Trasport','Transport','Logistics','Food Delivery','transport & rentals','Delivery','Transportation','Last Mile Transportation','Ride Sharing','Logisticstech'],
     #Transportation
    
   ['Hospitality','Real Estate','hospitality','Real  Estate','Smart Cities','Accommodation'],
        #Hospitality
    
   ['Sports','Esport','Esports','E-sports'],
         #Sports
    ['Energy','Renewable Energy'],
     #Energy
    ['Entertainment','Socialmedia','Social Media','Media'],
     #Media
   ['Telecommunications'],
       #Service Provider
       
]]
consistent_names=['Finance','E-commerce ','Education','Agriculture','Technology','Lifestyle',
                  'Human Resources','Food & Beverage',
                  'Health','Marketing and Advertising','Manufacturing','Transportation','Hospitality',' Sports','Energy',' Media','Service Provider']

for pattern,consistent_name in zip(patterns,consistent_names):
    df_2018 = merge_values_by_name_similarity(df_2018, 'Sector', pattern,consistent_name)

print(df_2018['Sector'].value_counts())

TypeError: unhashable type: 'list'

In [ ]:
df_2018.Sector.unique()

In [ ]:
# Create Year of Funding column
df_2018['Year of Funding'] = '2018'
df_2018.head(5)

In [ ]:
# checking for duplicates
df_2018.duplicated().sum()

In [ ]:
# lets have a look at rows with duplicates
df_2018.loc[df_2018.duplicated()]

In [ ]:
df_2018=df_2018.drop(index=348)

In [ ]:
df_2018.to_csv('data_claning_2018.csv', index = False)

In [ ]:
#loading 2019 data
df_2019= pd.read_csv('startup_funding2019.csv')
df_2021.head(5)

In [ ]:
#Preview of dataset summary information using info method.

df_2019.info()

In [ ]:
#View of number of rows and columns in 2019 dataset
num_f_colmns = df_2019.shape[(1)]
num_f_rows = df_2019.shape[(0)]

print('Number of rows in 2019 dataset:',num_f_rows)
print('Number of columns in 2019 dataset:',num_f_colmns)

In [ ]:
# Preview of description summary of numerical columns using describe method

df_2019.describe()

In [ ]:
# Preview of description summary of categorical columns using describe method
df_2019.describe(include=object)

In [ ]:
#Let us check for duplicates in our datas
duplicate_vals = df_2019.duplicated().sum()

#The 2019 dataset has no duplicate values

print("Count of duplicate values:",duplicate_vals)

In [ ]:
#Check of number of missing values in our dataset.(i.e Total NAN values per column)
missin_vals = df_2019.isnull().sum()

#The 2019 dataset contains missing values

missin_vals

In [ ]:
#conversion of missing value as percentage to enable comparison and inference
#we get total percentage of missing data in each column
#gives inference of whether to delete data or not

missing_percent = (df_2019.isnull().sum()/len(df_2019)) * 100

missing_percent

In [ ]:
#Boolean filtering of percentage missing data greater than 0 in columns
#only columns selected have missing percentage > 0

def missing_percent(table):
    missing_percent = (df_2019.isnull().sum()/len(df_2019)) * 100
    missing_percent = missing_percent[missing_percent > 0].sort_values(ascending=False)
    return missing_percent

In [ ]:
# per_nan = percentage nan

per_nan = missing_percent(df_2019)

per_nan

In [ ]:
#Let us visualize to infer missing data for comprehensive understanding
#NBper_nan is a series data that is indexed(with only one column)
#NBseaborn and matplotlib are compatible, we'll us matplotlib's 'plt.xticks()' to do x-axis rotation 

plt.figure(figsize=(9, 6))
sns.barplot(x=per_nan.index, y=per_nan)
plt.xticks(rotation = 45)
plt.title("Percentage Missing Values");
#plt.ylim(3, 21)
#to get columns with missing data btwn 3 to 21 percentage, we use function 'plt.ylim()'

In [ ]:
#let us clean column named 'founded' 
#we will fill in missing values with the median value
elements = df_2019["Founded"].unique()
elements

In [ ]:
#Count of missing values in column 'founded'

missn_vals = df_2019["Founded"].isna().sum()
missn_vals 
print("Count of missing values in Founded column:",missn_vals)

In [ ]:
#Convert the column to numeric, coercing non-numeric values to NaN:
#pd.to_numeric() converts values to float

df_2019["Founded"] = pd.to_numeric(df_2019["Founded"], errors='coerce')

#Calculate the median of the column, ignoring the NaN values:
median_value = df_2019["Founded"].median(skipna=True)

median_value

In [ ]:
#Replace the NaN values with the calculated median:
df_2019["Founded"].fillna(median_value, inplace=True)

In [ ]:
#Any missing values?
#confirm whether there are any NAN values (missing_values)
df_2019["Founded"].isna().values.any()

In [ ]:
#we will clean column 'Headquarter'
#We will fill up missing values with the mode(most occuring instance)

#Let us use unique() method to examine the unique values:
df_2019['HeadQuarter'].unique()

In [ ]:
#Check on data
df_2019['HeadQuarter']

In [ ]:
#Calculate the mode of the column:
#The iloc indexer is used to retrieve the first value from the mode result.
#The mode() function returns a pandas Series object that contains the mode(s) of the column.

mode_value = df_2019["HeadQuarter"].mode().iloc[0]

mode_value

In [ ]:
#Replace the missing values with the mode:
df_2019["HeadQuarter"].fillna(mode_value, inplace=True)

In [ ]:
#Any missing values?
#Let us confirm whether there are any NAN values after changes
df_2019["HeadQuarter"].isna().values.any()

In [ ]:
#Let us clean column 'sector' 
#Column has inconsistencies and some elements needs to be renamed to have consistent format
#Let us use unique() method to examine the unique values:
print(df_2019["Sector"].unique())

In [ ]:
#Check of counts of each category in the column
df_2019["Sector"].value_counts().sort_values(ascending=False)

In [ ]:
#Creation of a function to attain consistency in names of elements

from fuzzywuzzy import fuzz

def rename_similar_names(data, Sector):
    # Create a copy of the dataframe to avoid modifying the original data
    dff = data.copy()

     # Convert values in the specified column to strings
    dff[Sector] = dff[Sector].astype(str)

    # Iterate over each unique value in the specified column
    for value in dff[Sector].unique():
        similar_names = [name for name in dff[Sector].unique() if fuzz.ratio(value, name) >= 75]
        # Identify similar names with a similarity ratio of at least 80
        
        if len(similar_names) > 1:
            # If there are multiple similar names, choose a consistent name for all of them
            consistent_name = min(similar_names, key=len)  # You can change the selection criteria as per your preference
            
            # Replace the similar names with the consistent name
            dff[Sector].replace(similar_names, consistent_name, inplace=True)

    return dff

In [ ]:
# Rename similar names in the 'Sector' column
df_cleaned = rename_similar_names(df_2019, "Sector")

#check of unique elements after renaming our columns
print(df_cleaned["Sector"].unique())

In [ ]:
# Count of unique elements in column after renaming columns
df_cleaned["Sector"].value_counts().sort_values(ascending=False)

In [ ]:
#Calculate mode of the column
mode_value = df_cleaned["Sector"].mode().iloc[0]

mode_value

In [ ]:
#Let us clean 'Founders' column

# View NaN values in 'Founders'
nan_val = df_cleaned[df_cleaned["Founders"].isna()]
nan_val

In [ ]:
# Replace missing values with "Unknown" in the 'Founders' column
df_cleaned['Founders'] = df_cleaned['Founders'].fillna("Unknown")

#Any missing values?
#Let us confirm whether there are any NAN values after changes

df_cleaned["Founders"].isna().values.any()

In [ ]:
#Let us clean 'stage' colum
#Column has inconsistencies

df_cleaned['Stage'].unique()

In [ ]:
#Count of missing values in column 'Stage'

missn_vals = df_cleaned["Stage"].isna().sum()
missn_vals 

print("Count of missing values in stage column:",missn_vals)

In [ ]:
#Replace the NaN values with 'Unknown':
df_cleaned["Stage"].fillna("Unknown", inplace=True)

In [ ]:
#Any missing values?
#confirm whether there are any NAN values (missing_values)
df_cleaned["Stage"].isna().values.any()

In [ ]:
#A look at categorical column 'stage' value distribution.

df_cleaned["Stage"].value_counts()

In [ ]:
#Renaming category variables for consistency
df_cleaned["Stage"] = df_cleaned["Stage"].replace({"Pre-series A":"Pre series A"})
df_cleaned["Stage"] = df_cleaned["Stage"].replace({"Seed fund":"Seed"})
df_cleaned["Stage"] = df_cleaned["Stage"].replace({"Seed funding":"Seed"})

df_cleaned["Stage"].value_counts()

In [ ]:
df_2019['Amount($)'].unique()

In [ ]:
df_2019['Amount($)']

In [ ]:
df_2019.head(5)

In [ ]:


#Handing inconsistencies in 'Amount' column

# Remove dollar sign, and convert the "amount" column from integer to float

df_2019['Amount($)'] = df_2019['Amount($)'].str.replace('[$,]', '', regex=True)
#Replace "undisclosed" with NaN

df_2019['Amount($)'] = df_2019['Amount($)'].replace('Undisclosed', np.nan)




#Preview of modified 'Amount' column




df_2019['Amount($)'].head()

In [ ]:
#changing object into float 
df_2019['Amount($)'].astype('float64')

In [ ]:
#count of null value in the Amount column 
df_2019['Amount($)'].isnull().sum()

In [ ]:
#Convert the column to numeric, coercing non-numeric values to NaN:

#pd.to_numeric() converts values to float




df_2019["Amount($)"] = pd.to_numeric(df_2019["Amount($)"], errors='coerce')




#Calculate the median of the column, ignoring the NaN values:

median_value = df_2019["Amount($)"].median(skipna=True)




median_value

In [ ]:
#let us confirm count of Non-NA elements in column the 'amount'

#DataFrame.count() method returns count of non-Non-NA/null entries




Non_NA = df_2019["Amount($)"].count()




print("Count of non-NA elements in Amount column:",Non_NA)

In [ ]:
#Replace the NaN values with the calculated median:

df_2019["Amount($)"].fillna(median_value, inplace=True)

In [ ]:
#confirm whether there are any NAN values (missing_values)

df_2019["Amount($)"].isna().values.any()

In [ ]:
df_2019.head(3)

In [ ]:
df_2019.to_csv('data_claning_2019.csv', index = False)

In [ ]:
#loading 2020 data
df_2020= pd.read_csv('startup_function2020.csv')
df_2020.head(5)

In [ ]:
df_2020.info()

In [ ]:
# drop 'column10' from the dataset
df_2020=df_2020.drop('column10', axis=1)
df_2020.info()

In [ ]:
df_2020['Founded'].describe()

In [ ]:
imputer=SimpleImputer(strategy='median')

In [ ]:
imputer.fit_transform(df_2020[['Founded']])

In [ ]:
median_value=df_2020['Founded'].median()
df_2020['Founded'].fillna(median_value, inplace=True)
df_2020.isnull().sum()

In [ ]:
# convert 'Founded' data type from float to integer
#check to confirm data type

df_2020['Founded']=df_2020['Founded'].astype(int)

column_dtype=df_2020['Founded'].dtype
print(column_dtype)

In [ ]:
#check unique characters in 'Founded'
df_2020['Founded'].unique()

In [ ]:
#check unique characters in 'HeadQuarter'
df_2020['HeadQuarter'].unique()

In [ ]:
unique_chars_count=df_2020['HeadQuarter'].nunique()
unique_chars_count

In [ ]:
#maintain first word before comma in the HeadQuarter column
df_2020["HeadQuarter"]=df_2020['HeadQuarter'].apply(str)
df_2020['HeadQuarter']=df_2020['HeadQuarter'].str.split(',').str[0]
df_2020['HeadQuarter']=df_2020['HeadQuarter'].replace("'","",regex=True)

In [ ]:
df_2020['HeadQuarter'].unique()

In [ ]:
unique_chars_count=df_2020['HeadQuarter'].nunique()
unique_chars_count

In [ ]:
#rename similar cities and country names
#replace specific values in column 'HeadQuarter'

df_2020['HeadQuarter']=df_2020['HeadQuarter'].replace({'Bengaluru':'Bangalore', 'San Francisco Bay Area':'San Francisco','Banglore':'Bangalore','San Franciscao':'San Francisco','Newcastle Upon Tyne':'Newcastle'})
df_2020['HeadQuarter'].unique()

In [ ]:
#Fill in missing data with mode
mode_HeadQuarter=df_2020['HeadQuarter'].mode()
df_2020['HeadQuarter'].fillna(mode_HeadQuarter, inplace=True)
df_2020['HeadQuarter'].isnull().sum()

In [ ]:
df_2020['HeadQuarter']=df_2020['HeadQuarter'].replace({'Coimbatore':'Tamil Nadu', 'Hyderebad':'Hyderabad','Ludhiana':'Punjabi','Rajastan':'Rajasthan','Irvine':'California','Samastipur':'Bihar','Bangaldesh':'Bangladesh','Plano':'Texas','San Ramon':'California','San Francisco':'California'})
df_2020['HeadQuarter'].unique()

In [ ]:
unique_chars_count=df_2020['HeadQuarter'].nunique()
unique_chars_count

In [ ]:
df_2020['Stage'].head()

In [ ]:
#fill empty data in stage with unknown
df_2020['Stage'].fillna('unknown', inplace=True)
df_2020['Stage'].isnull().sum()

In [ ]:
#Fill missing data in 'Founders' column with 'unknown'
df_2020['Founders'].fillna('unknown', inplace=True)
df_2020['Founders'].isnull().sum()

In [ ]:
df_2020['Founders'].unique()

In [ ]:
df_2020['Investor'].fillna('unknown', inplace=True)
df_2020['Investor'].isnull().sum()

In [ ]:
#Fill in missing data with median
median_Amount=df_2020['Amount'].median()
df_2020['Amount'].fillna(median_Amount, inplace=True)
df_2020['Amount'].isnull().sum()

In [ ]:
df_2020['Sector'].unique()

In [ ]:
df_2020['Sector'].isnull().sum()

In [ ]:
df_2020_columns=df_2020[['Sector','What_it_does']]

In [ ]:
df_2020_columns.isnull()

In [ ]:
empty_values= df_2020[df_2020['Sector'].isnull()]

In [ ]:
empty_values

In [ ]:
mode_Sector=df_2020['Sector'].mode()
df_2020['Sector'].fillna(mode_Sector, inplace=True)

In [ ]:
df_2020['Sector'].isnull().sum()

In [ ]:
#loading 2021 data
df_2021= pd.read_csv('startup_function2021.csv')
df_2021.head(5)

In [ ]:
# # Get the dimensions of the DataFrame
df_2021.shape

In [ ]:
# # Generate descriptive statistics
df_2021.describe()

In [ ]:
# Get the cardinality/number of unique values in each column
df_2021.nunique()

In [ ]:
# Get the data types of each column
df_2021.dtypes

In [ ]:
# Get the missing values of each column
df_2021.isna().sum()

In [ ]:
# calculate the percentage of missing values in each column and sort them in descending order
df_2021.isna().mean().sort_values(ascending=False)*100

In [ ]:
# rename company/brand and Amount columns
data2021=df_2021.rename(columns={'Company/Brand':'Company_Brand','Amount':'Amount($)'})
data2021.columns

In [ ]:
# count the occurrences of unique values in Company_brand column
data2021['Company_Brand'].value_counts()

In [ ]:
# count the occurrences of unique values in Founded column
data2021['Founded'].value_counts()

In [ ]:
# remove the floats in founded year
# Replace non-finite values with median
data2021['Founded'] = data2021['Founded'].fillna(data2021['Founded'].median())

# Convert the 'Founded' column to an integer data type
data2021['Founded'] = data2021['Founded'].astype(int)

In [ ]:
data2021['Founded'].value_counts()

In [ ]:
# count the occurrences of unique values in Headquarter column
data2021['HeadQuarter'].value_counts()

In [ ]:
# a few entries do not appear to be cities. extract the first part of each value
# in the 'HeadQuarter' column before the comma
# Split values in 'HeadQuarter' column by comma
data2021['HeadQuarter'] = data2021['HeadQuarter'].str.split(',').str[0]

In [ ]:
# Replace non headquarter values with NaN in a column
data2021['HeadQuarter'] = data2021['HeadQuarter'].replace(['Pharmaceuticals\t#REF!', 'Food & Beverages', 'Computer Games','Online Media\t#REF!','Information Technology & Services'])

In [ ]:
df_2021['HeadQuarter'].value_counts()

In [ ]:
# remove special characters
df_2021['HeadQuarter'] = df_2021['HeadQuarter'].str.replace('[\,#,!,]','')

In [ ]:
# count the occurrences of unique values in Sector column
df_2021['Sector'].value_counts().sort_values(ascending=False)

In [ ]:
# there are inconsistencies in the sector column
# create a function to merge values based on name similarity to improve consistency
def merge_values_by_name_similarity(df, column_name, pattern, consistent_name):
    df.loc[df[column_name].str.contains(pattern, case=False), column_name] = consistent_name
    return df

# Define the patterns and consistent names
patterns = ['care', 'Information', 'food']
consistent_names = ['Healthcare', 'Information Technology & Services', 'Food & Beverages']

# Apply the function for each pattern and consistent name
for pattern, consistent_name in zip(patterns, consistent_names):
    data2021 = merge_values_by_name_similarity(data2021, 'Sector', pattern, consistent_name)

# Display the updated column
print(df_2021['Sector'].value_counts())

In [ ]:
# there are inconsistencies in the amount column
# remove special characters($ sign)
data2021['Amount($)'] = data2021['Amount($)'].str.replace('[$,,]','', regex=True)
# remove any non-digit characters from the 'Amount($)' column
data2021['Amount($)'] = data2021['Amount($)'].str.replace(r'\D+','', regex=True)
# convert empty space to nan
data2021['Amount($)'] = data2021['Amount($)'].replace('',np.nan)
# convert column to numeric
data2021["Amount($)"] = pd.to_numeric(data2021["Amount($)"], errors='coerce')
data2021['Amount($)'].value_counts()

In [ ]:
# count the occurrences of unique values in Stage column
data2021['Stage'].value_counts().sort_values(ascending=False)

In [ ]:
# the stage has inconsistencies
# remove special characters($ sign)
data2021['Stage'] = data2021['Stage'].str.replace('$','', regex=True)
# remove any digit characters from the 'Stage' column
data2021['Stage'] = data2021['Stage'].str.replace(r'\d+','', regex=True)
# replace empty spaces with np.nan
data2021['Stage'] = data2021['Stage'].replace('', np.nan)
# replace nan with 'unknown'
data2021['Stage'] = data2021['Stage'].replace(np.nan, 'Unknown')

data2021['Stage'].value_counts()

In [ ]:
# count the occurrences of unique values in Founders column
data2021['Founders'].value_counts().sort_values(ascending=False)

In [ ]:
missing_rows=data2021[data2021['Founders'].isnull()]
missing_rows

In [ ]:
# count the occurrences of unique values in Investor column
data2021['Investor'].value_counts().sort_values(ascending=False)

In [ ]:
# check missing values
data2021.isna().sum()

In [ ]:
#select object variables
obj=data2021.select_dtypes(include='object')
obj.columns

In [ ]:
obj= ['Founders','HeadQuarter','Investor']

In [ ]:
# use mode to impute missing value in object columns
data2021[obj]=data2021[obj].fillna(data2021[obj].mode().iloc[0])

In [ ]:
# select num columns
num=data2021.select_dtypes(exclude='object')
num.columns

In [ ]:
num=['Amount($)']

In [ ]:
# use median to impute numerical columns ignoring the Nan values to calculate the median
data2021[num]=data2021[num].fillna(data2021[num].median(skipna=True))

In [ ]:
data2021.isnull().sum()

In [ ]:
# checking for duplicates
data2021.duplicated().sum()

In [ ]:
# lets have a look at rows with duplicates
data2021.loc[data2021.duplicated()]

In [ ]:
# checking an example of a duplicate
data2021.query('Company_Brand =="Curefoods"')

In [ ]:

# checking another example of a duplicate
data2021.query('Company_Brand =="Fullife Healthcare"')

In [ ]:
# rows without duplicates
# remove duplicate rows based on the specified subset of columns
data2021=data2021.loc[~data2021.duplicated(subset=['Company_Brand','Founded','Founders','Investor','Amount($)'])].reset_index(drop=True).copy()

In [ ]:
# unique rows and columns
data2021.shape

In [ ]:
# Save the data as a CSV file
df_2021.to_csv('data_cleaning_2021.csv', index = False)